.internFinder 
{
   display: flex;
   flex-direction: column;
}

.internFinder Button 
{
    align-self: center;
    margin: 1rem;
}

.filters 
{
    display: flex;
    gap: 2rem;
    margin: 4vh;
}

.filters 
{
    caret-color: transparent;
}