
.internFinder 
{
   display: flex;
   flex-direction: column;
}

.internFinder Button 
{
    align-self: center;
    margin: 1rem;
}

.filters 
{
    display: flex;
    gap: 3.5rem;
    margin: 4vh;
    align-items: center;
}

.customSearch 
{
    background-color: #e0e5ea;
    box-shadow: none;
    border-radius: 1rem;
}

.customSearch Button 
{
    background-color: #e0e5ea;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: none;
    font-size: large;
}