/* Base button styles */
.btn-primary {
  background-color: #FD7654;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.btn-secondary {
  background-color: teal;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.btn-small {
  padding: 4px 8px;
  font-size: 12px;
}

.btn-medium {
  padding: 8px 16px;
  font-size: 14px;
}

.btn-large {
  padding: 12px 24px;
  font-size: 16px;
}