.searchBar 
{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    background-color: white;
    border-radius: 0.3rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    min-width: 20vw;
}

.clearBtn 
{
    all: unset;
    cursor: pointer;
    padding-left: 0.5rem;
}

.searchInput 
{
    flex-grow: 1;
    padding: 0.4rem;
    border: 0;
    min-width: 0;
}

.searchInput:focus 
{
    outline: none;
}