.profileGrid 
{
    border: 1px solid black;
    margin-left: 8vh;
    margin-right: 8vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 4rem;
    padding: 1rem;
}