.neighborhoodContainer 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.neighborhoodContainer h2 
{
    font-weight: 500;
}

.neighborhoodContainer > h3 {
    margin-top: 3.5rem;
    margin-bottom: 0;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 20px 0;
    border-radius: 8px;
    min-height: 200px;
}


SearchBar 
{
    margin: 0 2rem;
}

.infoDisplay 
{
    margin-top: 2rem;
    width: 90%;
    height: 680px;
    display: flex;
    gap: 3rem;
    justify-content: center;
    border-radius: 1rem;
}

.mapPanel
{
    width: 50%;
    height: 650px;
    border-radius: 1rem;
   
}

.mapPanel div 
{
    border-radius: 1rem;
}

.infoPanel 
{
    padding-right: 5rem;
    gap: 1rem;
}

.metrics 
{
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    padding-top: 1rem;
    background-color: white;
    justify-content: center;
}

.metrics div 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metrics h3 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1rem;
}

.metrics h4 {
    margin-top: 0;
    font-weight: 500;
    font-size: 0.9rem;
}

.places 
{
    background-color: white;
    padding: 0.2rem 1rem;
    margin-top: 3rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
}

.placeList 
{
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: scroll;
    gap: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}


.places h2
{
    margin-bottom: 1.5rem;
    color: #4A9DAE;
}

.placeList::-webkit-scrollbar {
    width: 8px;
}

.placeList::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
}
