.neighborhoodContainer 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neighborhoodContainer h2 
{
    font-weight: 500;
}


.infoDisplay 
{
    margin-top: 2rem;
    width: 70%;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.mapPanel
{
    width: 700px;
}

.infoPanel 
{
    padding: 1rem;
    padding-right: 5rem;
    display: flex;
    gap: 0.4rem;
}

.infoPanel h3 {
    margin-bottom: 0;
    font-weight: 600;
}

.infoPanel h4 {
    margin-top: 0;
    font-weight: 500;
}